<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>埔里美食地圖</title>
	{% load static %}
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
	<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=你的API KEY&callback=loadGoogleMap"></script>
	<script language="javascript">
		google.maps.event.addDomListener(window, 'load', loadGoogleMap);  //啟動GoogleMap

		function loadGoogleMap() {  //顯示GoogleMap
			var center = new google.maps.LatLng(23.96512, 120.96626);  //設定中心點
			var markers = [];  //地標串列
			var i=0;
			var map = new google.maps.Map(document.getElementById('map_div'), {  //設定地圖
				zoom: 15,
				center: center,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});			
			{% for item in all %}  //逐筆建立地標
				var latLng = new google.maps.LatLng({{item.mapLat}}, {{item.mapLng}});  //景點坐標
				var marker = new google.maps.Marker({
					position: latLng,
					title: "{{item.mapName}}",
					animation: google.maps.Animation.DROP,  //動畫方式
					map: map
				});
				markers.push(marker);  //將地標加入串列
				//建立地標訊息視窗
				var message = "<div class='markdiv'><div class='marktitle'>" + "{{item.mapName}}" + "</div>" + "{{item.mapDesc}}" + "<br><div class='contactinfo'>電話："+ "{{item.mapTel}}" +"<br>住址："+"{{item.mapAddr}}" + "</div><a href='#' onClick='show_streeview()'><img src='http://cbk0.google.com/cbk?output=thumbnail&w=250&h=50&ll="+ {{item.mapLat}} +","+ {{item.mapLng}} +"'></a></div>"
				attachMessage(i, message, latLng);
				i++;
			{% endfor %}

			var info_window = [];  //訊息視窗陣列
			function attachMessage(index, msg, latLng) {  //加入地標訊息視窗
				google.maps.event.addListener(markers[index], 'click', function(event) {
					close_other_makers(index);  //關閉其他地標訊息視窗
					info_window[index] = new google.maps.InfoWindow({  //建立地標訊息視窗
						content: msg,
						maxWidth: 280
					});
					info_window[index].open(markers[index].getMap(), markers[index]);  //顯示地標訊息視窗
					markers[index].getMap().panTo(latLng);  //將目前地標設為中心
					panorama = markers[index].getMap().getStreetView();  //設定街景
					panorama.setPosition(latLng);  //街景位置
					panorama.setPov({  //建立街景
						heading: 0,
						zoom: 1,
						pitch: 0
					});
				});
			}
			
			function close_other_makers(index){  //關閉其他地標訊息視窗
				var makers_count = markers.length;  //地標數量
				for (var i=0;i<makers_count;i++){
					if (i == index ) continue;  //如果是目前地標就跳過
					if (info_window[i]) info_window[i].close();  //關閉地標訊息視窗
					info_window[i] = null;  //清除地標訊息視窗
				}
			}
		}
		
		function show_streeview() {  //顯示街景
			panorama.setVisible(true);
		}
	</script>
</head>
<body>
	<div id="wrap">
	  <div id="header">
	  	<div align="center" id="logo"><img src='{% static "images/pulifoodmaplogo.png" %}' width="157" height="143" alt="logo"></div>
	  </div>
	  <div id="content">    
	    <div id="map_div"></div>
	  </div>
	  <div align="center" id="footer">  
	    <strong>埔里美食地圖</strong> &nbsp;版權所有 &copy; 2017&nbsp;eHappy PuliFoodMap All Rights Reserved. 
	  	<a href="/login">管理</a>
	  </div>
	</div>
</body>
</html>