@keyframes change-color{
    from{background-color: red;}
    to{background-color: blue;}



}




.box{
    width: 200px;
    height: 200px;
    background-color: grey;


}


.box-animation{
    animation-name:change-color;
    animation-duration:2s;
    animation-iteration-count: 1;
    animation-delay: 5s;

}